[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ImrankhanP
[access "refs/for/refs/*"]
	read = group user/ImrankhanP
	push = group user/ImrankhanP
	label-Code-Review = -2..+2 group user/ImrankhanP
	label-Verified = -1..+1 group user/ImrankhanP
	rebase = group user/ImrankhanP
	removeReviewer = group user/ImrankhanP
	submit = group user/ImrankhanP
[access "refs/heads/*"]
	read = group user/ImrankhanP
	create = group user/ImrankhanP
	push = +force group user/ImrankhanP
	pushMerge = group user/ImrankhanP
[access "refs/tags/*"]
	push = group user/ImrankhanP
	push = +force group user/ImrankhanP
